/*/*/*/obj
/*/*/*/bin
/*/*/*/bin/Debug
/*/*/*/_ReSHarper.*
/*/*/*/*.csproj.user
/*/*/*/*.csproj
/*/*/*/*resharper.user
/*/*/*/*.resharper
/*/*/*/*.suo
/*/*/*/*.cache
/*/*/*/*~
/*/*/*/*.swp
obj
bin
Debug
*.csproj.user
*.csproj
*resharper.user
*.resharper
*.suo
*.cache
*~
*.swp