/*/*/*/obj
/*/*/*/bin
/*/*/*/bin/Debug
/*/*/*/_ReSHarper.*
/*/*/*/*.csproj.user
/*/*/*/*resharper.user
/*/*/*/*.resharper
/*/*/*/*.suo
/*/*/*/*.cache
/*/*/*/*.svn
/*/*/*/*/.svn
/*/*/*/*/.tmp
/*/*/*/*~
/*/*/*~
/*/*~
/*/*/*/*.swp
/*/*/*/*/*/obj
/*/*/*/*/obj
/*/*/*/obj
/*/*/obj
/*/*/*/*/*/*.csproj.user
/*/*/*/*/*.csproj.user
/*/*/*/*.csproj.user
/*/*.csproj.user
/*/*/*/*/*/bin
/*/*/*/*/bin
/*/*/*/bin
/*/*/bin
/*/*/*/*/bin/Debug
/*/*/*/*_ReSHarper.*
/*/*/*/*/*.csproj.user
/*/*/*/*/*resharper.user
/*/*/*/*/*.resharper
/*/*/*/*/*.suo
/*/*/*/*/*.cache
/*/*/*/*/*~
/*/*/*/*/*.swp
/*/*/*/*/*.svn
/*/*/*/*/*/.svn
/*/*/*/*/*/.tmp
obj
bin
Debug
*.csproj.user
*resharper.user
*.resharper
*.suo
.svn
.tmp
*.cache
*~
*.swp